.venv/
venv
.pytest_cache/
build/
dist/
htmlcov/
Documents/
.idea/
.vscode/
__pycache__/
.mypy_cache/
.ipynb_checkpoints/
*.pyc
appsettings.json
.coverage
.ruff_cache
.tool-versions
.tox
coverage.xml
