repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v1.2.3
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/python-poetry/poetry
  rev: 1.7.1
  hooks:
  - id: poetry-check
  - id: poetry-lock
  - id: poetry-export
    args: ["--dev", "-f", "requirements.txt", "-o", "requirements_dev.txt"]
  - id: poetry-install
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.2.1
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
