[tool.poetry]
name = "Flunt"
version = "2.0.1"
description = "Python implementation of Domain Notification Pattern based in Flunt (.NET) developed by @andrebaltieri"
authors = ["Emerson Delatorre <38289677+Delatorrea@users.noreply.github.com>"]
repository = "https://github.com/Delatorrea/PyFlunt"
homepage = "https://github.com/Delatorrea/PyFlunt"
documentation = "https://github.com/Delatorrea/PyFlunt"
license = "MIT"
keywords = [
  "flunt",
  "domain-notification",
  "validation",
  "notification"
]
classifiers = [
  "Topic :: Utilities",
  "Topic :: Software Development",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12"
]
readme = "./README.md"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = ">=3.10 <4.0"
poetry = "^1.7.1"
typing-extensions = "^4.9.0"
coverage = "^7.4.1"

[tool.poetry.group.dev.dependencies]
faker = "^23.1.0"
pytest = "^8.0.0"
pytest-cov = "^4.1.0"
ipdb = "^0.13.13"
ipykernel = "^6.29.2"
ruff = "^0.2.1"
poethepoet = "^0.24.4"
pre-commit = "^3.6.1"
pre-commit-hooks = "^4.5.0"
mypy = "^1.8.0"
tox = "*"

[tool.poetry.group.doc.dependencies]
mkdocs-material = "^9.5.9"
mkdocstrings = "^0.24.0"
mkdocstrings-python = "^1.8.0"

[tool.poetry.scripts]
sample = "samples.flunt_sample:main"

[tool.pytest.ini_options]
addopts = "--doctest-modules"

[tool.ruff]
line-length = 88
indent-width = 4
extend-exclude = ["tests"]

[tool.ruff.format]
quote-style = "single"
indent-style = "tab"
docstring-code-format = false
docstring-code-line-length = 30

[tool.ruff.lint]
extend-select = [
  "D",   # pydocstyle,
  "I",   # isort
  "B",   # flake8-bugbear
]
ignore = [
  "D100",
  "D104",
  "D203",
  "D206",
  "D212",
  "D417",
  "E501"
]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.poe]
poetry_command = ""

[tool.poe.tasks]
test = "pytest"
test-verbose = "pytest -vv"
test-cov = "pytest --doctest-modules --cov=. --cov-report=html"
tox = "tox -e py"
pre-commit = "pre-commit run --all-files"
lint = ["_ruff-check", "lint-check", "_ruff-format", "_mypy"]
lint-check = "ruff check"
poetry-export-dev = "poetry export -f requirements.txt --output requirements_dev.txt"

_ruff-check = "poetry run ruff check --select I --fix ."
_ruff-format = "poetry run ruff format ."
_mypy = "poetry run mypy ."
